body {
    background-color: darkslategrey;
font-family: 'Poiret One', cursive;
   }

html {
    font-family: 'Poiret One', cursive;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    float: left;
}

p {
    border: 2px solid white;
    color: white;
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
}
porti{
    padding-top: 60px;
}
a {
    color: white;
font-family: 'Ubuntu', sans-serif;
}

.submit-button {
    background-color: chartreuse;
    color: darkgreen;
}

submit-button {
    background-color: chartreuse;
    color: darkgreen;
}
.empty {
    height: 50%;
}
.empty2 {
    height: 39%;
}

span {
    color: aquamarine;
}

a {
    display: block;
    padding: 8px;
    background-color: 333;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: gray;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


/* Change the link color to #111 (black) on hover */

li a:hover {
    background-color:khaki;
}

.footer{
     background-color: gray;
padding: 30px;
    clear: both
}
